@model List<AbonentDocsModel>
@using PagedList.Mvc
@using DigitalTVBilling.Helpers
@using DigitalTVBilling.Docs.DocsModel;
@using DigitalTVBilling.ListModels;
@{
    /**/

    Layout = null;
    //var emailstring = Model.customer.Email == noll || Model.customer.Email == "" ? "_____________________" : Model.customer.Email;
    //var isFromDiller = ViewBag.isFromDiller;
    //string username = isFromDiller == true ? "---------------------------------------(პ/ნ-------------------------; )" : @Model.user.Name;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Doc1</title>
    <style>
        /*.doc_wrapper[size="A4"] {
            width: 21cm;
            height: 29.7cm;
        }*/

        .doc_wrapper {
            /*position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;*/
            margin: 0 auto;
        }

        /*#doc_wrapper {
            page-break-after: always;
        }*/

        .pageBreak {
            page-break-after: always;
        }

        ol {
        }

        .title {
            font-weight: bold;
        }

        .sign {
            display: inline-block;
        }

        ol {
            list-style-type: none;
            counter-reset: item;
            margin: 0;
            padding: 0;
        }

            ol > li {
                display: table;
                counter-increment: item;
                margin-bottom: 0.6em;
            }

                ol > li:before {
                    content: counters(item, ".") ". ";
                    display: table-cell;
                    padding-right: 0.6em;
                }

        li ol > li {
            margin: 0;
        }
        /*li {
            font-size: 7.0pt;
            font-family: "Sylfaen";
        }
        div {
            font-size: 7.0pt;
            font-family: "Sylfaen";
        }*/
        * {
            font-size: 10.2pt;
            font-family: "Sylfaen";
        }

        li ol > li:before {
            content: counters(item, ".") " ";
        }

        #left-sign {
            float: left;
        }

        #right-sign {
            float: right;
        }

        .clearfix:after {
            content: '';
            display: block;
            clear: both;
        }
    </style>
</head>
<body>
    <div id="doc_wrapper" class="doc_wrapper">
        <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong><strong>სააბონენტო ხელშეკრულება #@Model.FirstOrDefault().doc_num</strong></p>
        <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; @Model.FirstOrDefault().tdate.ToString("dd-MM")- 2018წ.</p>
        <p>&nbsp; &nbsp; &nbsp; &nbsp;ერთი მხრივ <strong><em>შპს ,,დი +&ldquo;</em></strong>&nbsp; (შემდგომში ,,კომპანია&ldquo;) და მეორე მხრივ <strong>@Model.FirstOrDefault().abonent</strong>  შემდგომში <strong><em>&bdquo;აბონენტი&ldquo;</em></strong> ვდებთ წინამდებარე ხელშეკრულებას:</p>
        <ol>
            <li>
                <strong>ხელშეკრულების</strong><strong> საგანი </strong>
                <ol>
                    <li>წინამდებარე ხელშეკრულების საფუძველზე &bdquo;კომპანია&ldquo; ახორციელებს &bdquo;აბონენტისათვის&ldquo; ელექტრონული საკომუნიკაციო მომსახურების მიწოდებას. კერძოდ, ,,კომპანია&ldquo; უზრუნველყოფს ,,აბონენტის&ldquo; მაუწყებლობის ტრანზიტით მომსახურებას, რისთვისაც ,,აბონენტს&rdquo; დროებით სარგებლობაში გადასცემს დანართი #1-ში მითითებულ Digital TV-ს მიმღებ მოწყობილობას<strong>, </strong>ხოლო მომსახურების ღირებულების გადახდას, აბონენტი უზრუნველყოფს ამ ხელშეკრულებით დადგენილი წესის შესაბამისად;</li>
                    <li>ხელშეკრულების გაფორმების მომენტისთვის მომსახურების პაკეტი (Standard) მოიცავს 32 სატელევიზიო არხს: National Geographic, National Geographic Wilde, BabyTV, Nickelodeon, Setanta+, Setanta, VH1, RUTV, Premiera, TV 3, Kinohit, FOX, RTR Planeta, BBC, EuroNews, СТС, Ren TV, Peretz, Пятница, Оружие, Охота и Рыбалка, Rуcckaя Noчь, ORT, TNT Комеди, КИНОСЕМЬЯ, Discovery, Eurosport. შპს &bdquo;სტერეო +&ldquo;-ის მიერ მოწოდებული არხები: ენკი-ბენკი, საზოგადოებრივი მაუწყებლის 1 არხი, Nauka 2.0, МУЛЬТ, CINEMA;</li>
                    <li>ხელშეკრულების გაფორმების მომენტისათვის Region პაკეტი მოიცავს 16 სატელევიზიო არხს: Setanta, RUTV, Premiera, TV 3, Kinohit, EuroNews, СТС, Ren TV, Peretz, Пятница,Оружие, Охота и Рыбалка,Rуcckaя Noчь; შპს &bdquo;სტერეო +&ldquo;-ის მიერ მოწოდებული არხები: ენკი-ბენკი, საზოგადოებრივი მაუწყებლის 1 არხი, Nauka 2.0.</li>
                    <li>,,კომპანია&ldquo; უფლებამოსილია ცალმხრივად, ნებისმიერ დროს შეცვალოს მომსახურების პაკეტის შემადგენლობა (სატელევიზიო არხები) რის თაობაზეც ,,აბონენტს&ldquo; უნდა ეცნობოს ინდივიდუალური შეტყობინებით ცვლილებამდე 10 სამუშაო დღით ადრე.</li>
                </ol>
            </li>
            <li>
                <strong>მხარეთა უფლება-მოვალეობები</strong>
                <ol>
                    <li>&bdquo;კომპანია&ldquo; ვალდებულია: ხელშეკრულების დადებისთანავე განახორციელოს ,,აბონენტისთვის&ldquo; მაუწყებლობის ტრანზიტით მომსახურების მიწოდება ხელშეკრულებით განსაზღვრული პირობებით; ხელშეკრულების მოქმედების განმავლობაში უზრუნველყოს &bdquo;აბონენტისთვის&ldquo; ხარისხიანი მომსახურების მიწოდება. წინააღმდეგ შემთხვევაში ,,აბონენტი&ldquo; არ იხდის ,,კომპანიის&ldquo; ბრალით უხარისხოდ მიწოდებული მომსახურების დროის ღირებულებას. ეს წესი არ ვრცელდება სარემონტო, პროფილაქტიკურ სამუშაოებსა და გადაუდებელ შემთხვევებზე; &bdquo;აბონენტის&ldquo; შეტყობინების საფუძველზე, შეძლებისდაგვარად უმოკლეს ვადებში (არაუმეტეს 2 სამუშაო დღისა) აღმოფხვრას მისი მიზეზით გამოწვეული მომსახურების მიწოდებასთან დაკავშირებული დაზიანება; ხელშეკრულების მოქმედების განმავლობაში მოემსახუროს &bdquo;აბონენტს&ldquo; <u>ცხელი ხაზით (<strong>032) 2051212</strong></u>; მომსახურების ტარიფების ცვლილების შემთხვევაში ინდივიდუალური შეტყობინებით მიაწოდოს ,,აბონენტს&ldquo; ინფორმაცია ცვლილებამდე 1 თვით ადრე;</li>
                    <li>&bdquo;კომპანია&ldquo; უფლებამოსილია: პროფილაქტიკური სამუშაოების ჩატარებისას დროებით შეაჩეროს ან შეუზღუდოს &bdquo;აბონენტს&ldquo; მომსახურების მიწოდება, რის შესახებაც უნდა აცნობოს წინასწარ; &bdquo;აბონენტს&ldquo; შესაბამისი შეტყობინება გაუგზავნოს ტელეფონის ნომერზე, ელექტრონული ფოსტაზე ან რეგისტრაციის ადგილზე, მათი შეცვლის შემთხვევაში &bdquo;აბონენტი&ldquo; ვალდებულია დაუყოვნებლივ აცნობოს &bdquo;კომპანიას&ldquo;, წინააღმდეგ შემთხვევაში შეტყობინება ჩაითვლება ჩაბარებულად; საქართველოს ტერიტორიაზე, სატელევიზიო არხის ან მისი შემადგენელი ცალკეული გადაცემ(ებ)ის ჩვენების უფლების დაკარგვის შემთხვევაში, შეწყვიტოს მისი მიწოდება ან ჩაანაცვლოს იგი სხვა გადაცემით. მხარეები თანხმდებიან, რომ &bdquo;კომპანია&ldquo; მსგავსი უფლებამოსილებით აღჭურვილია იმ შემთხვევაშიც, თუ სატელევიზიო არხის შემადგენელი ცალკეული გადაცემ(ებ)ის ჩვენება დაუშვებელია კომპეტენტური სახელმწიფო ორგანოს აკრძალვისა ან/და საავტორო და მომიჯნავე უფლებების შესახებ საქართველოს კანონის მოთხოვნების გამო;</li>
                    <li>&bdquo;აბონენტი&ldquo; ვალდებულია: აწარმოოს ანგარიშსწორება &bdquo;კომპანიასთან&ldquo; ხელშეკრულებით გათვალისწინებული წესითა და პირობებით; ჰქონდეს გამართული საანტენო მეურნეობა; შეატყობინოს &bdquo;კომპანიას&ldquo; მომსახურების მიწოდების შეფერხების შემთხვევაში აღნიშნული ფაქტის შეტყობიდან 24 საათის განმავლობაში; შეძლებისდაგვარად შეუწყოს ხელი &bdquo;კომპანიის&ldquo; თანამშრომლებს წარმოქმნილი ხარვეზის გამოსწორებაში; არ განახორციელოს მომსახურების მიყიდვა ან რაიმე ფორმით გადაცემა, მიწოდება ან გაყოფა მესამე პირებისათვის ,,კომპანიისგან&ldquo; დამოუკიდებლად; წინამდებარე ხელშეკრულებით გათვალისწინებული მომსახურების სასტუმროში გამოყენების სურვილის შემთხვევაში წერილობით აცნობოს ,,კომპანიას&ldquo;.</li>
                </ol>
            </li>
            <li>
                <strong>ანგარიშსწორება მხარეებს შორის </strong>
                <ol>
                    <li>ხელშეკრულების დადებისთანავე აბონენტს აქციის ფარგლებში გაუაქტიურდება Standard პაკეტი. აქციის ფარგლებში აბონენტი არ იხდის პირველი თვის მომსახურების ღირებულებას. აქციით სარგებლობის ვადაა 30 კალენდარული დღე. 31-ე კალენდარული დღიდან აბონენტს მომსახურების ღირებულების გადახდის შემთხვევაში ავტომატურად გაუაქტიურდება &nbsp;Standard პაკეტი. აქციის დასრულების შემდგომ&nbsp; აბონენტს &nbsp;კომპანიისათვის შეტყობინების საფუძველზე ნებისმიერ დროს შეუძლია შეცვალოს მომსახურების პაკეტი. კომპანიისათვის შეტყობინებად მიიჩნევა წინამდებარე ხელშეკრულებაში მითითებული აბონენტის ნომრიდან კომპანიის ცხელ ხაზზე დარეკვა და შესაბამისი ინფორმაციის მიწოდება;</li>
                    <li>Region პაკეტით გათვალისწინებული ერთი თვის მომსახურების ღირებულება - ერთი მიმღები მოწყობილობისთვის შეადგენს 8 ლარს (შემდგომში წოდებული როგორც ,,მომსახურების ღირებულება&ldquo; ან ,,ბალანსი&ldquo;) - 5 ლარი Region პაკეტის ერთი თვის სააბონენტო გადასახადი და ერთი მიმღები მოწყობილობის ქირის ერთი თვის საფასური 3 ლარი. Standard პაკეტით გათვალისწინებული მომსახურების ერთი თვის ღირებულებაა - ერთი მიმღები მოწყობილობისთვის 15 ლარი (შემდგომში წოდებული როგორც ,,მომსახურების ღირებულება&ldquo; ან ,,ბალანსი&ldquo;), - 12 ლარი Standard პაკეტის ერთი თვის სააბონენტო გადასახადი და ერთი მიმღები მოწყობილობის ერთი თვის ქირის საფასური - 3 ლარი. &nbsp;აღნიშნულ მუხლში მითითებულ ერთ თვეში იგულისხმება 30 კალენდარული დღე.</li>
                    <li>მხარეთა შორის ანგარიშსწორება ხორციელდება ლარში და მოიცავს კანონმდებლობით განსაზღვრულ გადასახადებს; თანხის გადახდა შესაძლებელია ნაღდი/უნაღდო ანგარიშსწორებით და სწრაფი გადახდის ტერმინალებით; &bdquo;აბონენტის&ldquo; მიერ მომსახურების ღირებულება გადაიხდება წინასწარ, მომსახურების მისთვის სასურველ თვეთა რაოდენობის ეკვივალენტური ფულადი თანხის &bdquo;კომპანიაში&ldquo; კუთვნილ ბარათზე შეტანის, დეპონირების გზით (ბალანსი), რა პერიოდითაც (თვეების შესაბამისად) განისაზღვრება &bdquo;კომპანიის&ldquo; მიერ &bdquo;აბონენტისათვის&ldquo; მომსახურების მიწოდების ხანგძლივობა</li>
                    <li>აბონენტს წინამდებარე ხელშეკრულების მუხლი 1 -ით (ხელშეკრულების საგანი) განსაზღვრული მომსახურების მიწოდება შეუწყდება, თუ მას ბარათზე ამოეწურება თანხა და არ/ვერ გადაიხდის მიერ არჩეული პაკეტის შესაბამისად ერთი თვის მომსახურების ღირებულებას, ამავდროულად ,,აბონენტი&ldquo; არ თავისუფლდება ქირის თანხის გადახდისგან;</li>
                    <li>მომსახურების ღირებულების ზედიზედ 2 თვის განმავლობაში გადაუხდელობის შემთხვევაში ქსელში აბონენტად აღდგენისთვის &bdquo;აბონენტი&ldquo; იხდის 5 ლარს ერთი მიმღები მოწყობილობისთვის. აბონენტის მიერ მომსახურების შეწყვეტის შემდგომ აბონენტად აღდგენის დროს პირველ რიგში დაიფარება ქირის ღირებულების დავალიანება, შემდგომ აბონენტად აღდგენის საფასური, შემდგომ პირველი თვის ქირის ღირებულება და ბოლოს მომსახურების საფასური.</li>
                    <li>იმ შემთხვევაში, თუ აბონენტი იხდის მხოლოდ მიმღები მოწყობილობის ქირის საფასურს, მან უნდა მიმართოს კომპანიის სათაო ოფისს, რომელიც მდებარეობს შემდეგ მისამართზე- ქ. თბილისი, ალექსიძის ქ. #1 ან თი-ბი-სი ბანკის ნებისმიერ ფილიალს. ამ პუნქტით დადგენილი გადასახადის ბანკში თანხის გადახდის შემთხვევაში აბონენტი ვალდებულია მიუთითოს საიჯარო ანგარიში, რომელიც შექმნილია, მხოლოდ საიჯარო მომსახურებისათვის (საიჯარო ანგარიში); აბონენტის იდენტიფიცირებისათვის აუცილებელია აბონენტის ნომრის მითითება; წინამდებარე პუნქტით განსაზღვრული პირობის შესრულების შემთხვევაში აბონენტს არ დაებლოკება მიმღები მოწყობილობა.</li>
                </ol>
            </li>
            <li>
                <strong>საგარანტიო</strong><strong> პირობები</strong>
                <ol>
                    <li>ქარხნული წუნის შემთხვევაში მიმღები მოწყობილობის შეცვლა შესაძლებელია მისი ,,აბონენტისათვის&ldquo; გადაცემიდან 7&nbsp;კალენდარული დღის განმავლობაში.&nbsp;გადაცემიდან 7 დღის შემდგომ 6 თვის განმავლობაში ქარხნული წუნის არსებობისას ხორციელდება ნივთის შეკეთება (თუ შეკეთება შეუძლებელია,&nbsp; ხდება ნივთის შეცვლა; კომპანია ქარხნულ წუნს ადგენს - ნივთის მიღებიდან 3 სამუშაო დღეში, ხოლო ქარხნული წუნის დადგენის შემთხვევაში ,,კომპანია&ldquo; ვალდებულია შეაკეთოს/შეცვალოს&nbsp; ნივთი 10 სამუშაო დღის ვადაში;</li>
                    <li>სხვა მიზეზით დაზიანებული&nbsp;&nbsp;მიმღები მოწყობილობის შემადგენელი ერთი ნაწილისთვის, მომხმარებელი იხდის შესაბამისი ნივთის ღირებულებას, რის შემდეგაც ,,აბონენტს&ldquo; დროებით სარგებლობაში გადაეცემა შესაბამისი ნივთი; მიმღები მოწყობილობის დაკარგვის, სრულად დაზიანების/განადგურების შემთხვევაში ან თუ წინამდებარე ხელშეკრულებით განსაზღვრული პირობების შესაბამისად არ აბრუნებს მიმღებ მოწყობილობას ,,აბონენტი&ldquo; გადაიხდის მიმღები მოწყობილობის ღირებულებას 99 ლარს.</li>
                    <li>აბონენტი საგარანტიო პირობებით სარგებლობისთვის მიმართავს შპს ,,დი +&ldquo;-ის სერვის ცენტრს, მისამართზე: ქ. თბილისი, ალექსიძის ქ. #1;</li>
                </ol>
            </li>
            <li>
                <strong>დავის გადაწყვეტა </strong>
                <ol>
                    <li>მხარეები სადაო საკითხებს წყვეტენ ურთიერთშეთანხმების საფუძველზე. შეუთანხმებლობის შემთხვევაში &bdquo;აბონენტს&ldquo; შეუძლია შესაბამისი საჩივრით მიმართოს &bdquo;კომპანიის&ldquo; მომხმარებელთა საჩივრების განმხილველ სამსახურს, საქართველოს კომუნიკაციების ეროვნულ კომისიას ან სასამართლოს. მომხმარებელთა საჩივრების განმხილველი სამსახური დავას განიხილავს ,,ელექტრონული კომუნიკაციების შესახებ&ldquo; საქართველოს კანონითა და ,,კომპანიის&ldquo; მომხმარებელთა საჩივრების განმხილველი სამსახურის დებულებით დადგენილი წესით 15 დღის ვადაში. მიღებული გადაწყვეტილება შეიძლება 30 დღის ვადაში გასაჩივრდეს საქართველოს კომუნიკაციების ეროვნულ კომისიაში ან სასამართლოში;</li>
                    <li>&bdquo;აბონენტს&ldquo; უფლება აქვს მოქმედი კანონმდებლობის შესაბამისად პირდაპირ მიმართოს საქართველოს კომუნიკაციების ეროვნულ კომისიას ან სასამართლოს;</li>
                </ol>
            </li>
            <li>
                <strong>ხელშეკრულების ძალაში შესვლა და მოქმედების ვადა </strong>
                <ol>
                    <li>ხელშეკრულება ძალაში შედის მხარეთა მიერ ხელმოწერის დღიდან და მოქმედებს 3 წლის განმავლობაში. თუ ხელშეკრულების მოქმედების ვადის გასვლამდე არც ერთი მხარე წერილობით არ აცნობებს მეორე მხარეს ხელშეკრულებიდან გასვლის სურვილს, ხელშეკრულება ავტომატურად გაგრძელდება იგივე ვადითა და პირობებით;</li>
                    <li>&bdquo;აბონენტი&ldquo; უფლებამოსილია ნებისმიერ დროს შეწყვიტოს ხელშეკრულება, ამ შემთხვევაში აბონენტს უნიკალურ ნომერზე დაერიცხება დაბრუნების საკომისიო 5 ლარის ოდენობით. თუ აბონენტი 1 თვით ადრე შეატყობინებს კომპანიას შეწყვეტის სურვილის შესახებ მას დაბრუნების საკომისიო არ დაეკისრება. ხელშეკრულების შეწყვეტის შემთხვევაში მხარეთა შორის ხდება&nbsp; ანგარიშსწორება;</li>
                    <li>&bdquo;კომპანია&ldquo; უფლებამოსილია ნებისმიერ დროს შეწყვიტოს ხელშეკრულება, რის შესახებაც ვალდებულია &bdquo;აბონენტს&ldquo; ინდივიდუალური შეტყობინება გაუგზავნოს შეწყვეტის თარიღის დადგომამდე 1 თვით ადრე. ხელშეკრულების შეწყვეტის შემდგომ მხარეთა შორის ხორციელდება ანგარიშსწორება.</li>
                    <li>თუ მომსახურების შეწყვეტიდან 120 დღის ვადაში ,,აბონენტი&ldquo; არ განახორციელებს წინამდებარე ხელშეკრულების 3.5 პუნქტის შესაბამისად აბონენტად აღდგენას, წინამდებარე ხელშეკრულება შეწყდება. ხელშეკრულების შეწყვეტიდან 5 სამუშაო დღის ვადაში ,,აბონენტი&ldquo; ვალდებულია დააბრუნოს მისთვის გადაცემული Digital tv-ს მიმღები მოწყობილობა (მოწყობილობები) იმ მდგომარეობაში, როგორშიც ჩაიბარა და გადაიხადოს არსებული დავალიანება სრულად. მხარეთა შორის ფორმდება მიღება-ჩაბარების აქტი.</li>
                </ol>
            </li>
            <li><strong>გარდამავალი დებულებები</strong></li>
            <p>ის ურთიერთობანი რომელიც არ წესრიგდება აღნიშნული ხელშეკრულებით, უნდა მოწესრიგდეს&nbsp; საქართველოს მოქმედი კანონმდებლობისა და ,,კომპანიის&ldquo; ვებ-გვერდზე (www.digitaltv.ge) გამოქვეყნებული სტანდარტული პირობების შესაბამისად.</p>
            <li><strong>მხარეთა</strong><strong> რეკვიზიტები და ხელმოწერები</strong></li>
        </ol>
        <p>&nbsp; &nbsp; &nbsp; &nbsp; &bdquo;კომპანია&ldquo; შპს &bdquo;დი +&ldquo; (ს/კ 400166262, მი: ქ. თბილისი მ . ალექსიძის #1) წარმოდგენელი მისი დირექტორის გიორგი ხითარიშვილის სახით</p>
        <p>
            &nbsp; &nbsp; &nbsp; &nbsp; &bdquo;აბონენტი&ldquo; <strong>@Model.FirstOrDefault().abonent</strong> (პ/ნ <strong>@Model.FirstOrDefault().code</strong>; მის: <strong>@Model.FirstOrDefault().address</strong> ტელ: <strong>@Model.FirstOrDefault().phone</strong> @if (Model.FirstOrDefault().email == null)
            {<strong> ელ.ფოსტა: -------------------------,</strong>}
            else
            { <strong>ელ.ფოსტა:@Model.FirstOrDefault().phone</strong>},აბონენტის&ldquo; უნიკალური ნომერი
            <strong>
                @foreach (var item in Model)
                {
                    <strong>
                        @item.abonent_num
                    </strong>
                    if (Model.Count() != 1)
                    {
                        <strong>,</strong>
                    }
                }
            </strong>
        </p>
        <p>
            <strong>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="@Model.FirstOrDefault().signature" style="width:180px; height:150px;" alt="description here" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="@Model.FirstOrDefault().signature" style="width:180px; height:150px;" alt="description here" />
            </strong>
        </p>
    </div>
</body>
</html>
