@model List<DigitalTVBilling.Models.UserDetails>
@using DigitalTVBilling.ListModels
@using DigitalTVBilling.Utils
@using DigitalTVBilling.Helpers
@using System.Web.Mvc
@using System.Web.Mvc.Html
@{
    List<SellAttachment> attachments = ViewBag.attachs;
    UserType userType = ViewBag.UserType;
    Layout = null;
    List<Card> card_list = ViewBag.card_list;
    var index = 0;
}
<style type="text/css">
        /**{font-family: 'Roboto', sans-serif;}*/

    td{
        vertical-align: middle;
    }

        .textbox {
            border: 1px solid #c4c4c4;
            height: 15px;
            width: 20px;
            font-size: 13px;
            padding: 4px 4px 4px 4px;
            border-radius: 4px;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            box-shadow: 0px 0px 8px #d9d9d9;
            -moz-box-shadow: 0px 0px 8px #d9d9d9;
            -webkit-box-shadow: 0px 0px 8px #d9d9d9;
        }

            .textbox:focus {
                outline: none;
                border: 1px solid #7bc1f7;
                box-shadow: 0px 0px 8px #7bc1f7;
                -moz-box-shadow: 0px 0px 8px #7bc1f7;
                -webkit-box-shadow: 0px 0px 8px #7bc1f7;
            }

        .option-input {
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            -o-appearance: none;
            appearance: none;
            position: relative;
            top:2.33333px;
            right: 0;
            bottom: 0;
            left: 5px;
            height: 15px;
            width: 15px;
            transition: all 0.15s ease-out 0s;
            background: #cbd1d8;
            border: none;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            margin-right: 0.5rem;
            outline: none;
            position: relative;
            z-index: 1000;
        }

            .option-input:hover {
                background: #313a39;
            }

            .option-input:checked {
                background: #ff2525;
            }

                .option-input:checked::before {
                    /*height: 40px;*/
                    width: 15px;
                    position: absolute;
                    content: '✔';
                    display: inline-block;
                    font-size: 10.66667px;
                    text-align: center;
                    line-height: 15px;
                }

                .option-input:checked::after {
                    -webkit-animation: click-wave 0.65s;
                    -moz-animation: click-wave 0.65s;
                    animation: click-wave 0.65s;
                    background: #40e0d0;
                    content: '';
                    display: block;
                    position: relative;
                    z-index: 100;
                }

            .option-input.radio {
                border-radius: 50%;
            }

                .option-input.radio::after {
                    border-radius: 50%;
                }

        /*/*/
        textarea, input {
            font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
        }

        .att div:hover {
            background-color: #c4ffab;
        }

        table tr, th {
            text-align: center;
        }
    </style>
<div style="display:block" id="diler_cards_wrapper">
    @*<input type="hidden" name="dilerCards.card_id[0]" value="3" />
    <input type="hidden" name="dilerCards.card_id[1]" value="4" />*@
</div>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>სახელი</th>
            <th>ტელეფონი</th>
            <th>ჯგუფი</th>
            <th></th>
        </tr>
    </thead>
    <tbody  class="td_">
        @foreach (UserDetails item in Model)
        {
            <tr height="100">
                <td><input class="dilerCards_change" name="dilerCards.diler_id" type="radio" id="@item.user.Id" value="@item.user.Id" checked="checked" /></td>
                <td align="center" valign="middle">
                    @if (item.user != null)
                    {
                        @Html.Raw(item.user.Name);
                    }
                </td>
                <td >
                @if (item.user != null)
                {
                    @Html.Raw(item.user.Phone);
                }
                </td>
                <td>
                    @if (item.userType != null)
                    {
                        @Html.Raw(item.userType.Name);
                    }
                </td>
                <td>

                    <div class="form-group" @*style="margin-top:5%;"*@ id="modal_bort"style="overflow:auto; height:80px">
                        <div class="col-md-12 input-lg" id="parent">
                            <div class="form-group" id="diler_cardid" style="overflow:auto;">
                                @foreach (var item_value in card_list)
                                {

                                  @item_value.CardNum <input class="diler_Cards textbox option-input" type="checkbox" id="@item_value.Id"  value="@item_value.CardNum" name="diler_checked_id"/>
                                 <br />
                                }
                                 + ბარათი   <input class="diler_Cards textbox option-input" type="checkbox" id="0" value="0" name="diler_checked_id" />
                                <br />
                            </div>
                        </div>

                    </div>
                </td>
            </tr>
        }

    </tbody>
</table>