@model List<CardServicesList>
@using DigitalTVBilling.Helpers
@if (ViewBag.CardId != 0)
{
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th style="width:20%;">
                    თარიღი
                    @*<div>თარიღი</div>*@
                </th>
                <th style="width:55%;">
                    დასახელება
                    @*<div>დასახელება</div>*@
                </th>
                <th style="width:15%;">
                    გადახდის ტიპი
                    @*<div>გადახდის ტიპი</div>*@
                </th>
                <th style="width:10%;">
                    თანხა
                    @*<div>თანხა</div>*@
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (CardServicesList service in Model)
            {
                <tr>
                    <td>@Html.SetDateDisplay(service.Date)</td>
                    <td>@service.Name</td>
                    <td>@Utils.GetEnumDescription(service.PayType)</td>
                    <td>@service.Price</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th style="width:20%;">
                    თარიღი
                    <div>თარიღი</div>
                </th>
                <th style="width: 20%;">
                    ბარათი
                    <div>ბარათი</div>
                </th>
                <th style="width:35%;">
                    დასახელება
                    <div>დასახელება</div>
                </th>
                <th style="width:15%;">
                    გადახდის ტიპი
                    <div>გადახდის ტიპი</div>
                </th>
                <th style="width:10%;">
                    თანხა
                    <div>თანხა</div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (CardServicesList service in Model)
            {
                <tr>
                    <td>@Html.SetDateDisplay(service.Date)</td>
                    <td>@service.CardNum</td>
                    <td>@service.Name</td>
                    <td>@Utils.GetEnumDescription(service.PayType)</td>
                    <td>@service.Price</td>
                </tr>
            }
        </tbody>
    </table>
}


