@model Verify
@using DigitalTVBilling.Helpers

<div class="modal fade" id="subscr_list_modal" style="overflow:auto">
    <style type="text/css">

        .forPass{
            background-color: lightgray;
        }

        .passed {
            background-color: #a4ff7e;
        }

        .passedWithError {
            background-color: #fce14b;
        }

        .problem{
            background-color: #e82966;
        }

        .called{
            background-color: #1FF0FF;
        }

        /*table tr:hover {
            background-color: #c4ffab;
        }*/
        table tr,th{
            text-align:center;
        }
    </style>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">სტატუსი</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    @*<div class="col-md-2">
                        <button class="btn btn-default btn-xs" id="btn_excel">
                            <span class="glyphicon glyphicon-print"></span> ექპორტი
                        </button>
                    </div>*@
                    @*<div class="col-md-6 pull-right">
                        <div class="form-group">
                            @{Html.RenderPartial("~/Views/Shared/_DatetimePickers.cshtml", new ViewDataDictionary() { { "ID", "picker" } });}
                        </div>
                    </div>*@
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs" role="tablist" id="card_info_tab">
                            <li class="active"><a href="#card" role="tab" data-toggle="tab">ბარათის სტატუსი</a></li>
                            <li><a href="#abonent" role="tab" data-toggle="tab">აბონენტის სტატუსი</a></li>
                        </ul>
                        <input type="hidden" id="abonent_id" value="@ViewBag.AbonentID" />

                        @*card tab content*@
                        <div class="tab-content card-info">
                            <div class="tab-pane active" id="card">
                                <section>
                                    <div class="cont" id="cardlogs_table">
                                        
                                        @*card table content*@
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th style="width: 20%;">
                                                        თარიღი
                                                    </th>
                                                    <th style="width: 20%;">
                                                        ბარათის N
                                                    </th>
                                                    <th style="width: 30%;">
                                                        სტატუსი
                                                    </th>
                                                    <th style="width: 30%;">
                                                        დამატებითი ინფო
                                                    </th>
                                                    <th>

                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (Card card in Model.cards)
                                                {
                                                    var className = "";

                                                    switch(card.VerifyStatus)
                                                    {
                                                        case CardVerifyStatus.ForPass:
                                                            {
                                                                className = "forPass";
                                                            }
                                                            break;

                                                        case CardVerifyStatus.Passed:
                                                            {
                                                                className = "passed";
                                                            }
                                                            break;

                                                        case CardVerifyStatus.PassedWithError:
                                                            {
                                                                className = "passedWithError";
                                                            }
                                                            break;
                                                        case CardVerifyStatus.Problem:
                                                            {
                                                                className = "problem";
                                                            }
                                                            break;

                                                        case CardVerifyStatus.Called:
                                                            {
                                                                className = "called";
                                                            }
                                                            break;
                                                    }

                                                    <tr class="@className" data-id="@card.Id">
                                                        <td>@Html.SetDateDisplay(card.Tdate)</td>
                                                        <td>@card.CardNum</td>
                                                                    @*<td>@Html.GetCardVerifyStatus(card.VerifyStatus)</td>*@
                                                        <td>
                                                                <select class="form-control input-sm valid" data-tag="" data-val="true" id="card_verify_status" name="VerifyStatus">
                                                                    @foreach (CardVerifyStatus l_s in Enum.GetValues(typeof(CardVerifyStatus)))
                                                                    {
                                                                        var val = (int)Enum.Parse(typeof(CardVerifyStatus), l_s.ToString());
                                                                        string selected = "";
                                                                        if(val == (int)card.VerifyStatus)
                                                                        {
                                                                            selected = "selected";
                                                                        }
                                                                        <option @selected value="@val">@Utils.GetEnumDescription(l_s)</option>
                                                                        selected = "";
                                                                    }
                                                                </select>
                                                        </td>
                                                        <td>
                                                            <textarea class="form-control input-sm" data-tag="" id="Card_Desc" name="Card_Desc">@card.Info</textarea>
                                                        </td>
                                                        <td id=""><a href="#"><span class="glyphicon glyphicon-save" id="save_veried_abonent"></span></a></td>
                                                    </tr>

                                                    className = "";
                                                }
                                            </tbody>
                                        </table>

                                        @*@Html.Partial("~/Views/Abonent/_CardLogsList.cshtml", @Model.CardLogs)*@
                                    </div>
                                </section>
                            </div>

                            @*abonent tab content*@
                            <div class="tab-pane" id="abonent">

                                <section>
                                    <div class="cont" id="cardlogs_table">

                                        @*abonent table content*@
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th style="width: 20%;">
                                                        სტატუსის სახეობა
                                                    </th>
                                                    <th style="width: 20%;">
                                                        სტატუსი
                                                    </th>
                                                    <th style="width: 30%;">
                                                        დამატებითი ინფო
                                                    </th>
                                                    <th>

                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-id="@Model.customer.Id" data-val="buy_reason">
                                                    <td>შესყიდვის მიზეზი</td>
                                                    <td>
                                                        <select class="form-control input-sm valid" data-tag="" data-val="true" id="ab_buyreason_status" name="VerifyStatus">
                                                            @foreach (AbonentBuyReason l_s in Enum.GetValues(typeof(AbonentBuyReason)))
                                                            {
                                                                var val = (int)Enum.Parse(typeof(AbonentBuyReason), l_s.ToString());
                                                                string selected = "";
                                                                if (val == (int)Model.customer.BuyReason)
                                                                {
                                                                    selected = "selected";
                                                                }
                                                                <option @selected value="@val">@Utils.GetEnumDescription(l_s)</option>
                                                                selected = "";
                                                            }
                                                        </select>

                                                    </td>
                                                    <td>
                                                        <textarea style="width:100%; height:100%;" class="form-control input-sm" data-tag="" id="Card_byustat_Desc" name="Card_Desc">@Model.customer.Info</textarea>
                                                        @*<textarea class="form-control input-sm" data-tag="" id="Card_Desc" name="Card_Desc">@Model.customer.Desc</textarea>*@
                                                    </td>
                                                    <td id=""><a href="javascript:void(0)"><span class="glyphicon glyphicon-save" id="save_abonent_stat"></span></a></td>
                                                </tr>
                                                <tr data-id="@Model.customer.Id" data-val="is_satisfied">
                                                    <td>კმაყოფილი</td>
                                                    <td>
                                                        <select class="form-control input-sm valid" data-tag="" data-val="true" id="ab_satisfied_status" name="VerifyStatus">
                                                            @foreach (AbonentSatisfiedStatus l_s in Enum.GetValues(typeof(AbonentSatisfiedStatus)))
                                                            {
                                                                var val = (int)Enum.Parse(typeof(AbonentSatisfiedStatus), l_s.ToString());
                                                                string selected = "";
                                                                if (val == (int)Model.customer.IsSatisfied)
                                                                {
                                                                    selected = "selected";
                                                                }
                                                                <option @selected value="@val">@Utils.GetEnumDescription(l_s)</option>
                                                                selected = "";
                                                            }
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <textarea style="width:100%; height:100%;" class="form-control input-sm" data-tag="" id="Card_satstat_Desc" name="Card_Desc">@Model.customer.Desc</textarea>
                                                    </td>
                                                    <td id=""><a href="javascript:void(0)"><span class="glyphicon glyphicon-save" id="save_abonent_stat"></span></a></td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        @*@Html.Partial("~/Views/Abonent/_CardLogsList.cshtml", @Model.CardLogs)*@
                                    </div>
                                </section>
                            </div>
                            @*@{Html.RenderPartial("~/Views/Abonent/_CardInfoData.cshtml", @Model);}*@
                        </div>
                    </div>
                </div>
                <script type="text/javascript" src="/Static/Scripts/bootstrap-datepicker.js"></script>
                <script type="text/javascript" src="/Static/Scripts/bootstrap-datepicker.ka.js"></script>
                <script type="text/javascript" src="/Static/Scripts/fina.datepickers.js"></script>
                <script type="text/javascript" src="/Static/Scripts/View/verify_info.js"></script>
                <script type="text/javascript" src="/Static/Scripts/dropdowns-enhancement.js"></script>
                <link rel="stylesheet" type="text/css" href="~/Static/Styles/datepicker3.css" />
                <link rel="stylesheet" type="text/css" href="~/Static/Styles/dropdowns-enhancement.css" />
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">დახურვა</button>
            </div>
        </div>
    </div>
</div>
