@model Message
<div class="modal fade" id="message_modal" style="overflow:auto">
    <style type="text/css">
        .list-group-item {
            padding: 5px 10px;
        }
    </style>
    <div class="modal-dialog modal-lg">
        @using (Ajax.BeginForm("", null, new AjaxOptions
                                         {
                                             Url = Url.Action("NewMessage"),
                                             OnSuccess = "onSuccessNewMessage",
                                             HttpMethod = "POST"
                                         }, new { @class = "form-horizontal", role = "form", id = "message_form", name = "MessageForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">ახალი შეტობინება</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-7">
                            @Html.HiddenFor(c => c.Logging)
                            <div class="form-group">
                                <label for="txt_abonent_select" class="control-label col-md-3">აბონენტი:</label>
                                <div class="col-md-3">
                                    <select class="form-control input-sm" id="drp_abonent_select_by">
                                        <option value=""></option>
                                        <option value="c.city">ქალაქით</option>
                                        <option value="c.village">სოფლით</option>
                                        <option value="c.region">რეგიონით</option>
                                        <option value="c.name+c.lastname">სახელით</option>
                                        <option value="c.code">პ/ნ</option>
                                        <option value="c.phone1">ტელეფონით</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <div class="scrollable-dropdown-menu">
                                        <input type="text" name="abonent_select" autocomplete="off" class="form-control input-sm" data-provide="typeahead" id="txt_abonent_select" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="drp_abonent_type" class="control-label col-md-3">აბონენტის ტიპი:</label>
                                <div class="col-md-3">
                                    <select class="form-control input-sm" id="drp_abonent_type">
                                        <option value="-1"></option>
                                        <option value="0">ფიზიკური</option>
                                        <option value="1">იურიდიული</option>
                                        <option value="2">ტექნიკური</option>
                                    </select>
                                </div>
                                </div>
                                <div class="form-group">
                                    <label for="drp_status" class="control-label col-md-3">სტატუსი:</label>
                                    <div class="col-md-3">
                                        <select class="form-control input-sm" id="drp_status">
                                            <option value="-1"></option>
                                            <option value="0">აქტიური</option>
                                            <option value="1">გათიშული</option>
                                            <option value="2">დაპაუზებული</option>
                                            <option value="3">მონტაჟი</option>
                                            <option value="5">დაბლოკილი</option>
                                            <option value="6">კრედიტი</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="drp_receiver" class="control-label col-md-3">რესივერი:</label>
                                    <div class="col-md-3">
                                        @Html.DropDownList("Receiver", new SelectList((List<IdName>)ViewBag.Receivers, "Id", "Name"), "", new { @class = "form-control input-sm", id = "drp_receiver" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="drp_tower" class="control-label col-md-3">ანძა:</label>
                                    <div class="col-md-3">
                                        @Html.DropDownList("Tower", new SelectList((List<IdName>)ViewBag.Towers, "Id", "Name"), "", new { @class = "form-control input-sm", id = "drp_tower" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txt_abonent_num" class="control-label col-md-3">აბონენტის/ბარათის №:</label>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control input-sm" id="txt_abonent_num" />
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="btn btn-default btn-xs" id="btn_search">
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> ძებნა
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="MessageType" class="control-label col-md-3">ტიპი:</label>
                                    <div class="col-md-5" id="message_types">
                                        @foreach (MessageType suit in (MessageType[])Enum.GetValues(typeof(MessageType)))
                                    {
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" id="@suit.ToString()" value="@Html.Raw((int)suit)">
                                                    @suit.ToString()
                                                </label>
                                            </div>
                                    }
                                    </div>
                                    <input type="hidden" name="MessageType" id="MessageType" />
                                </div>
                            </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-xs-4" for="balance_val">ბალანსი:</label>
                                <div class="col-xs-3" style="padding-right:0px;">
                                    <select class="form-control input-sm" id="balance_where" data-log="balance_val">
                                        <option>></option>
                                        <option>>=</option>
                                        <option>=</option>
                                        <option><</option>
                                        <option><=</option>
                                    </select>
                                </div>
                                <div class="col-xs-3" style="padding-left:2px;">
                                    <input type="text" class="form-control input-sm" id="balance_val" data-log>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4" for="finish_date_val">Finish date:</label>
                                <div class="col-xs-3" style="padding-right:0px;">
                                    <select class="form-control input-sm" id="finish_date_where" data-log="finish_date_val">
                                        <option>></option>
                                        <option>>=</option>
                                        <option>=</option>
                                        <option><</option>
                                        <option><=</option>
                                    </select>
                                </div>
                                <div class="col-xs-3" style="padding-left:2px;">
                                    <input type="text" class="form-control input-sm" id="finish_date_val" data-log>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4" for="pause_date_val">პაუზის დღე:</label>
                                <div class="col-xs-3" style="padding-right:0px;">
                                    <select class="form-control input-sm" id="pause_date_where" data-log="pause_date_val">
                                        <option>></option>
                                        <option>>=</option>
                                        <option>=</option>
                                        <option><</option>
                                        <option><=</option>
                                    </select>
                                </div>
                                <div class="col-xs-3" style="padding-left:2px;">
                                    <input type="text" class="form-control input-sm" id="pause_date_val" data-log>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4" for="credit_date_val">კრედიტის დღე:</label>
                                <div class="col-xs-3" style="padding-right:0px;">
                                    <select class="form-control input-sm" id="credit_date_where" data-log="credit_date_val">
                                        <option>></option>
                                        <option>>=</option>
                                        <option>=</option>
                                        <option><</option>
                                        <option><=</option>
                                    </select>
                                </div>
                                <div class="col-xs-3" style="padding-left:2px;">
                                    <input type="text" class="form-control input-sm" id="credit_date_val" data-log>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4" for="discount_val">ფასდაკლება:</label>
                                <div class="col-xs-3" style="padding-right:0px;">
                                    <select class="form-control input-sm" id="discount_where" data-log="discount_val">
                                        <option>></option>
                                        <option>>=</option>
                                        <option>=</option>
                                        <option><</option>
                                        <option><=</option>
                                    </select>
                                </div>
                                <div class="col-xs-3" style="padding-left:2px;">
                                    <input type="text" class="form-control input-sm" id="discount_val" data-log>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4" for="status_val">სტატუსი:</label>
                                <div class="col-xs-3" style="padding-right:0px;">
                                    <select class="form-control input-sm" id="status_where" data-log="status_val">
                                        <option>></option>
                                        <option>>=</option>
                                        <option>=</option>
                                        <option><</option>
                                        <option><=</option>
                                    </select>
                                </div>
                                <div class="col-xs-3" style="padding-left:2px;">
                                    <input type="text" class="form-control input-sm" id="status_val" data-log>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4" for="service_val">მომსახურება:</label>
                                <div class="col-xs-3" style="padding-right:0px;">
                                    <select class="form-control input-sm" id="service_where" data-log="service_val">
                                        <option>></option>
                                        <option>>=</option>
                                        <option>=</option>
                                        <option><</option>
                                        <option><=</option>
                                    </select>
                                </div>
                                <div class="col-xs-3" style="padding-left:2px;">
                                    <input type="text" class="form-control input-sm" id="service_val" data-log>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 pull-right">
                            <div class="form-group">
                                <button type="button" class="btn btn-default btn-xs pull-right" id="btn_users_clear">
                                    <span class="glyphicon glyphicon-align-left"></span> გასუფთავება
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">აბონენტები</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div style="max-height: 100px; overflow-y: auto;">
                                            <ul class="list-group" id="abonents_list">
                                                <div style="position: absolute; left: 40%;">სია ცარიელია</div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <select class="form-control input-sm" id="drp_message_repl">
                                        <option value=""></option>
                                        <option value="name">სახელი</option>
                                        <option value="lastname">გვარი</option>
                                        <option value="code">პ/ნ</option>
                                        <option value="address">მისამართი</option>
                                        <option value="city">ქალაქი</option>
                                        <option value="village">სოფელი/უბანი</option>
                                        <option value="region">რეგიონი</option>
                                        <option value="phone1">ტელეფონი</option>
                                        <option value="doc_num">ხელშეკრ. №</option>
                                        <option value="abonent_num">აბონენტის №</option>
                                        <option value="card_num">ბარათის №</option>
                                        <option value="card_address">ბარათის მისამართი</option>
                                        <option value="receiver">რესივერი</option>
                                        <option value="tower">ანძა</option>
                                        <option value="discount">ფასდაკლება</option>
                                        <option value="balance">ბალანსი</option>
                                        <option value="finish_date">finish date</option>
                                        <option value="packet">პაკეტი</option>
                                        <option value="packet_price">პაკეტის ფასი</option>
                                    </select>
                                </div>
                                <label for="drp_template" class="control-label col-md-3">შაბლონი:</label>
                                <div class="col-md-6">
                                    <select class="form-control input-sm" id="drp_template">
                                        <option value=""></option>
                                        @foreach (MessageTemplate template in Model.Templates)
                                        {
                                            <option value="@template.Desc">@template.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <input type="hidden" id="message_template" value="" name="TemplateType" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-3">
                                <button type="button" class="btn btn-default btn-xs" id="btn_save_auto">
                                    <span class="glyphicon glyphicon-save" aria-hidden="true"></span> შენახვა ავტ. შაბლონად
                                </button>
                            </div>
                            <div class="col-md-3">
                                <input type="text" id="template_name" class="form-control input-sm" />
                            </div>
                            <div class="col-md-4">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="chk_disposable" />
                                        გაიგზავნოს ერთჯერადად
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.TextAreaFor(m => m.MessageText, new { @class = "form-control input-sm", rows = 4 })
                                @Html.ValidationMessageFor(m => m.MessageText)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">დახურვა</button>
                    <input type="submit" class="btn btn-primary btn-xs" value="გაგზავნა" />
                </div>
            </div>
        }
    </div>
</div>
