@model List<AutoChangeSubscribList>
@using DigitalTVBilling.Helpers
@{
    Page.Title = "ავტომატური პაკეტები";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {
<script type="text/javascript" src="/Static/Scripts/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/Static/Scripts/bootstrap-datepicker.ka.js"></script>
    <script type="text/javascript" src="~/Static/Scripts/View/utils.js"></script>
    <script type="text/javascript" src="~/Static/Scripts/md5.min.js"></script>
    <script type="text/javascript" src="/Static/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/Static/Styles/datepicker3.css" />
}

<div class="row">
    <div class="col-sm-2">
        <button class="btn btn-xs btn-primary" id="newAutoSubscrib">დამატება</button>
    </div>
</div>
<div style="margin-top: 8px;">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th style="width: 30%;">
                    აბონენტი
                </th>
                <th style="width: 25%;">
                    აბონენტის №
                </th>
                <th style="width: 20%;">
                    პაკეტები
                </th>
                <th style="width: 10%;">
                    გაგზავნის თარიღი
                </th>
                <th style="width: 5%;">

                </th>
            </tr>
        </thead>
        <tbody id="autopackages_body">
            @foreach (AutoChangeSubscribList card in Model)
            {
                <tr>
                    <td>@card.Abonent</td>
                    <td>@card.AbonentNum</td>
                    <td>@String.Join("+", card.PackageNames)</td>
                    <td>
                        @card.SendDate.ToString("dd/MM/yyyy")
                    </td>
                    <td><button type="button" class="close" data-id="@card.Id">&times;</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>
